{% extends 'flatpages/default.html' %}
 
{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <h2 style="text-align: center;"><strong>HELLO FROM DJANGO APP</strong></h2>
<p style="text-align: center;">&nbsp;</p>
</head>
<body>
    <i>{{ flatpage.content }}</i>
<p style="text-align: left;"><span style="color: #ff0000;"><strong>Привет от SkillFactory</strong></span></p>
<p style="text-align: left;">&nbsp;</p>

{{ flatpage.content }}
{% endblock content %}